@{
    ViewData["Title"] = "Главная страница редактора";
}

<h1>Добро пожаловать</h1>
<p>Пожалуйста, выберите таблицу:</p>

<div class="form-group">
    <a asp-action="City" class="btn btn-primary">Города</a>
</div>
<div class="form-group">
    <a asp-action="Clinic" class="btn btn-primary">Клиники</a>
</div>
<div class="form-group">
    <a asp-action="Specialization" class="btn btn-primary">Специальности</a>
</div>
<div class="form-group">
    <a asp-action="Doctor" class="btn btn-primary">Врачи</a>
</div>
<div class="form-group">
    <a asp-action="Index" class="btn btn-primary">Вернуться на главную страницу</a>
</div>
