@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать</h1>
<p>Пожалуйста, выберите действие:</p>

<div class="form-group">
    <a asp-action="Register" class="btn btn-primary">Регистрация</a>
</div>
<div class="form-group">
    <a asp-action="Login" class="btn btn-primary">Авторизация</a>
</div>
<div class="form-group">
    <a asp-action="ForgotPassword" class="btn btn-primary">Восстановление пароля</a>
</div>
